.DS_Store
*.o
F3CS_Difference
F3CS_Outlier2
F3CS_Outlier3
F3CS_Reverser
F3CS_TimeTrace
F3CS_AxAxA
F3CS_AxAxB
F3CS_AxBxG
F3CS_LocalFit
F3CS_GlobalFit
F3CS_GlobalFit_3D_Plot
F3CS_2FCS
F3CS_AlignTool
F3CS_DAQ
F3CS_DAQ_ASM
F3CS_StochasticData

